node_modules
coverage
.pnpm-store
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json
.claude
.idea
output
.agents
.tempor
.playwright-mcp
.env.otf-app-secrets
.pnpm-store
